body[theme="black"]{
    background-color: black;
}

body[theme="cyan"]{
    background-color: #80becc;
}


body[theme="salmon"]{
    background-color: salmon;
}


body[theme="black"]{
    background-color: black;
}

body[theme="white"]{
    background-color: white;
}